[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
bson = "*"
motor = "*"
tornado = "*"
jose = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
install = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
